# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = YamagishiRyu
#	email = bubusu.ryu@gmail.com
[user]
	name = YamagishiRyu
	email = bubusu.ryu@gmail.com
[core]
	editor = nvim
[merge]
	ff = false
[pull]
	ff = only
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
[init]
	templatedir = ~/.git-templates
[commit]
	template = ~/.config/.commit_template
[color]
	ui = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
